<section class="mx-auto w-full max-w-3xl">
  <div
    class="rounded-xl border border-gray-200 bg-white p-6 [html.dark_&]:border-gray-700 [html.dark_&]:bg-gray-800"
  >
    <div
      class="mb-5 rounded-lg border border-gray-200 bg-gray-50 p-5 text-center [html.dark_&]:border-gray-700 [html.dark_&]:bg-gray-900"
    >
      <p class="mt-2 text-3xl font-semibold text-gray-900 [html.dark_&]:text-gray-100">
        {{ card()?.name }}
      </p>
      <p class="mt-2 text-sm italic text-gray-500 [html.dark_&]:text-gray-400">
        {{ card()?.phonetic }}
      </p>
      <div class="mt-3 flex justify-center">
        <button
          class="rounded-full bg-blue-500 p-2 text-white hover:bg-blue-600 [html.dark_&]:bg-blue-600 [html.dark_&]:hover:bg-blue-700"
          (click)="playPronunciation($event, card()?.name)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="#e3e3e3"
          >
            <path
              d="M552-152v-75q86-23 139-93.26 53-70.25 53-159.5 0-89.24-53.5-158.74Q637-708 552-734v-75q116 25 190 117t74 211q0 119-73.5 211.5T552-152ZM144-385v-192h144l192-192v576L288-385H144Zm408 55v-302q45.12 20.4 70.56 61.2Q648-530 648-480.52q0 48.52-25.44 89.23Q597.12-350.59 552-330ZM408-595l-90 90H216v48h102l90 90v-228Zm-91 113Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="grid gap-3 sm:grid-cols-2">
      <div
        class="rounded-lg border border-gray-200 p-4 [html.dark_&]:border-gray-700 text-center sm:text-left"
      >
        <p class="text-xs font-medium uppercase text-gray-500 [html.dark_&]:text-gray-400">
          Meaning
        </p>
        <p class="mt-2 text-gray-900 [html.dark_&]:text-gray-100">
          {{ card()?.meaning }}
        </p>
      </div>

      <div
        class="rounded-lg border border-gray-200 p-4 [html.dark_&]:border-gray-700 text-center sm:text-left"
      >
        <p class="text-xs font-medium uppercase text-gray-500 [html.dark_&]:text-gray-400">
          Example
        </p>
        <p class="mt-2 text-gray-900 [html.dark_&]:text-gray-100">
          {{ card()?.example }}
        </p>
      </div>
    </div>

    @if (card()?.imageUrl) {
      <div class="mt-3 rounded-lg border border-gray-200 p-4 [html.dark_&]:border-gray-700">
        <p
          class="text-xs font-medium uppercase text-gray-500 [html.dark_&]:text-gray-400 text-center sm:text-left"
        >
          Image
        </p>

        <div
          class="mt-3 overflow-hidden rounded-lg border border-gray-100 [html.dark_&]:border-gray-700"
        >
          <img
            [src]="card()?.imageUrl"
            [alt]="card()?.name || 'Word image'"
            class="h-56 w-full object-contain bg-gray-100 [html.dark_&]:bg-gray-700"
            loading="lazy"
          />
        </div>
      </div>
    }
  </div>
</section>
